/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap');

html,
body {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
p,
.nav-container,
.rw-box {
  color: #000000;
}

.cmp-image__image {
  width: 80%;
}

.cmp-title__text {
  margin-bottom: 7%;
  font-size: 24px;
}

.text-format-1 {
  /* I have bad news for you */
  display: flex; 
  width: 586px;
  height: 190px;
  left: 735px;
  margin-left: 5px; 

  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 70px;
  letter-spacing: -0.035em;

  /* Gray 1 */
  color: #333333;
}

.text-format-2 {
  /* The page you are looking for might be removed or is temporarily unavailable */
  display: flex; 
  width: 381px;
  height: 108px;
  left: 736px;
  margin-top: 1%;
  margin-left: 5px;  

  font-family: 'Space Mono' !important;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -0.035em;

  /* Gray 2 */
  color: #4F4F4F;
}
